#hello {
    max-height: 50dvh;
    overflow-y: auto;
    position: relative;
}


.sticky-header {
    position: sticky;
    top: 3.4rem; 
    background-color: white; 
    z-index: 1; 
}

body {
    background-image: url("/my-first-web-page/25757.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#caption {
    position: sticky;
    top: 0;
    background-color: #343a40; 
    z-index: 2; 
    padding-top: 0.5rem;
}